Inbox Manager.json
{
  "name": "Inbox Manager",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "970cd0f2-7da0-4a87-815b-ec875a1a2acb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject:  {{ $json.headers.subject }}\nmessage: {{ $json.text }}\nname: {{ $json.from.value[0].name }}",
        "categories": {
          "categories": [
            {
              "category": "Newsletter ",
              "description": "Automatically identifies emails sent from newsletter platforms and classifies them under the 'Newsletter' category for easy organization and management."
            },
            {
              "category": "Wanda",
              "description": "Classifies emails sent by friends or containing casual, humorous, or non-essential content under the 'Wanda' category."
            },
            {
              "category": "Priority",
              "description": "Identifies and classifies emails that require immediate attention, including client work, urgent matters, emergencies, or potential security risks such as account breaches, password leaks, or suspicious activity, under the 'Priority' category"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "fae8894b-e995-4238-9d93-feedee3402c0",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "f961a333-495b-409c-95ea-d11ad637a297",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qY5blBYHI5be1H0v",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_9088974823976273851"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        256
      ],
      "id": "7026b521-fd7f-488c-804d-86b4ec5e04cf",
      "name": "Add label to message",
      "webhookId": "fe9dff99-7b66-44ed-a368-ec91267c96d2",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_7722904201794688926"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        608,
        -112
      ],
      "id": "cd1b0ac7-4696-4772-9849-6ca1276c130d",
      "name": "Add label to message1",
      "webhookId": "fe9dff99-7b66-44ed-a368-ec91267c96d2",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8235102603473558828"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        608,
        64
      ],
      "id": "05774f7b-ad6c-454a-9e1b-bae11cbea841",
      "name": "Add label to message2",
      "webhookId": "fe9dff99-7b66-44ed-a368-ec91267c96d2",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        -128
      ],
      "id": "469e8bc8-a51a-4f6d-b4bf-6603790c81f7",
      "name": "Remove label from message",
      "webhookId": "e088d8c3-c227-4fdb-b5ff-ff926253502c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        64
      ],
      "id": "3bc22f6c-fd1b-4be8-96b7-f2d96e8ccf78",
      "name": "Remove label from message1",
      "webhookId": "e088d8c3-c227-4fdb-b5ff-ff926253502c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject:  {{ $json.headers.subject }}\nmessage: {{ $json.text }}\nname: {{ $json.from.value[0].name }}",
        "categories": {
          "categories": [
            {
              "category": "Newsletter ",
              "description": "Automatically identifies emails sent from newsletter platforms and classifies them under the 'Newsletter' category for easy organization and management."
            },
            {
              "category": "Wanda",
              "description": "Classifies emails sent by friends or containing casual, humorous, or non-essential content under the 'Wanda' category."
            },
            {
              "category": "Priority",
              "description": "Identifies and classifies emails that require immediate attention, including client work, urgent matters, emergencies, or potential security risks such as account breaches, password leaks, or suspicious activity, under the 'Priority' category"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        2176,
        -288
      ],
      "id": "8776c535-5041-4f37-a862-45d390b6625b",
      "name": "Text Classifier1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2112,
        -80
      ],
      "id": "c8c369bd-365b-445c-87c3-d658bd5c0a9b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "qY5blBYHI5be1H0v",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_9088974823976273851"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2592,
        -32
      ],
      "id": "2fd93035-8c0c-47d9-8f4f-47ca28b1c60e",
      "name": "Add label to message3",
      "webhookId": "fe9dff99-7b66-44ed-a368-ec91267c96d2",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_7722904201794688926"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2576,
        -400
      ],
      "id": "974ec6cc-d706-4e68-b3d0-fd809565a2be",
      "name": "Add label to message4",
      "webhookId": "fe9dff99-7b66-44ed-a368-ec91267c96d2",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8235102603473558828"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2576,
        -224
      ],
      "id": "51b8acd7-8916-4d1d-95ef-081ad8a2cd6d",
      "name": "Add label to message5",
      "webhookId": "fe9dff99-7b66-44ed-a368-ec91267c96d2",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2816,
        -416
      ],
      "id": "2459c34e-9c23-4d38-a61f-862c5eb96c8e",
      "name": "Remove label from message2",
      "webhookId": "e088d8c3-c227-4fdb-b5ff-ff926253502c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2832,
        -224
      ],
      "id": "fa7ca14d-0b56-407e-b6e3-b28deab48b18",
      "name": "Remove label from message3",
      "webhookId": "e088d8c3-c227-4fdb-b5ff-ff926253502c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1760,
        -256
      ],
      "id": "65eb8ec8-3e87-455c-9e2a-4cc4fe47ee77",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1968,
        -256
      ],
      "id": "57628da7-b733-4e9a-96b5-e0efb4d147cb",
      "name": "Get many messages",
      "webhookId": "986c875d-60c5-4769-9ade-21d55c51dd97",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Title: 🤖 Auto-Classify Incoming Emails\n### Description:\n* Automatically runs when new emails arrive. Uses AI to classify emails into three categories:\nNewsletter → Adds newsletter label\nWanda → Adds casual/friend label\nPriority → Adds urgent/important label\nAfter labeling, removes INBOX label to keep inbox clean.\n\n\n\n",
        "height": 896,
        "width": 1296
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -352
      ],
      "typeVersion": 1,
      "id": "d9df6c84-46b7-41b6-a757-915c158b3d92",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Title: 🧪 Test Classification on Existing Emails\n### Description:\n* Manual testing branch for the classification logic. Click \"Execute workflow\" to:\nFetch last 20 emails from Gmail\nRun AI classification on them\nApply labels and archive\nUse this to test changes before activating the automated workflow.\n\n\n\n",
        "height": 896,
        "width": 1296,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        -624
      ],
      "typeVersion": 1,
      "id": "00319fe6-6e1a-44e0-b37a-98adf6c358d6",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message2": {
      "main": [
        [
          {
            "node": "Remove label from message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier1": {
      "main": [
        [
          {
            "node": "Add label to message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message4": {
      "main": [
        [
          {
            "node": "Remove label from message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message5": {
      "main": [
        [
          {
            "node": "Remove label from message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Text Classifier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c4d0be8-8a5f-4cbd-96a3-f56b3ba4fee5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43b0f9a6770ade46111a896700b75c58a81ca90bf3dde068bc67f8dd47209235"
  },
  "id": "PLUZPlKLniIHpmTb",
  "tags": []
}