weather forecaster.json
{
  "name": "weather forecaster",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -32
      ],
      "id": "aedce97c-db4f-42c3-90e6-0e9533281a69",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.weatherapi.com/v1/current.json?key=a7209411b22c48b5a0d70700251211&q=Karachi&aqi=no",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -32
      ],
      "id": "d59953ce-92fc-48ef-bc3e-88794af64b3a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8767b75f-f9ef-4d4d-89a7-c4e742864b3f",
              "leftValue": "={{ $json.current.temp_c }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        -32
      ],
      "id": "f87f7d29-5630-4eaa-a817-aa4774a1ad70",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"temperature\":  {{ $json.current.temp_c }},\n  \"status\":\"{{ $json.current.condition.text }}\" ,\n  \"message\": \"It's a nice day in Karachi! Perfect time for a walk or a cup of chai. ☕\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -95.57918357849121
      ],
      "id": "44a07c57-ddc7-4ad6-9047-d1a01d9a519b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"temperature\":  {{ $json.current.temp_c }},\n  \"status\":\"{{ $json.current.condition.text }}\" ,\n  \"message\": \"It's quite hot in Karachi today! Stay hydrated and avoid direct sunlight. 💧☀️\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        64
      ],
      "id": "40c3198e-47e1-410e-8bb9-652900a7b840",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "shirazkk8@gmail.com",
        "subject": "Hello Shiraz Ali Todays Weather Forecast",
        "message": "=Temperature: {{ $json.temperature }}\nStatus: {{ $json.status }}\nMessage: {{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        -48
      ],
      "id": "a6382e91-80e4-4d06-b8cd-bc661469ef97",
      "name": "Send a message",
      "webhookId": "78be919f-84f3-4111-8044-d670e1de43f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "TDtwZvosL8IGZ2oK",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ea30459-4753-48db-8d87-1cfdb5acff2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43b0f9a6770ade46111a896700b75c58a81ca90bf3dde068bc67f8dd47209235"
  },
  "id": "PfvBgMjRKOea4zbJ",
  "tags": []
}